# {{ansible_managed}}
max_connections = {{ pg_max_connections }}
shared_buffers = {{ (pg_shared_buffers|int / 1024) | int }}MB
work_mem = {{ pg_work_mem | int}}kB
maintenance_work_mem = {{ (pg_maintenance_work_mem|int / 1024) | int }}MB
effective_cache_size = {{ (pg_effective_cache|int / 1024) | int }}MB